<div class="row">
	<div class="small-4 columns">
		<h2>CommentBox</h2>
	</div>
</div>
</div class="row">
	<div class="small-12 columns">
		{{outlet}}
	</div>
</div>
<div class="row">
	<div class="small-2 small-offset-10 columns">
		<h3>Footer</h3>
	</div>
</div>